* {
	all: unset;
	transition-property: all;
	transition-duration: 0.25s;
}

*:focus {
	outline: #aaa solid 2px;
	outline-offset: -3px;
	-gtk-outline-radius: 4px;
}

window {
	background-color: #181818;
	border-color: #000000;
}

button, popover {
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
	background-color: #222;
}

modelbutton {
	margin: 2px;
	padding: 3px 6px;
	border-radius: 3px;
}

button:hover, modelbutton:hover {
	background-color: #282828;
}

button:active, modelbutton:active {
	background-color: #181818;
}

button:checked {
	background-color: #111;
}

button:checked:hover {
	background-color: #181818;
}

button.suggested-action {
	background-color: #B55900;
}

button.suggested-action:hover {
	background-color: #F57900;
}

button.suggested-action:active {
	background-color: #984A00;
}

button.destructive-action {
	background-color: #FB3934;
}

button.destructive-action:hover {
	background-color: #CC2410;
}

button.destructive-action:active {
	background-color: #A40000;
}

button.quick-action {
	border-radius: 15px;
}

textview {
	background-color: #111;
	color: #D3D7CF;
}

selection {
	background-color: #B55900;
}

.notification-titlebar {
	background: #282828;
	padding-left: 10px;
	border-radius: 5px;
}

.notification-titlebar button {
	background: unset;
	border: unset;
}

.notification-titlebar > label {
	padding-top: 6px;
	padding-bottom: 6px;
}

.notification-titlebar > label:last-child {
	padding-right: 10px;
}

.notification {
	padding: 0;
	background: #202020;
	border-radius: 4px;
	margin: 4px;
}

.notification-description {
	padding: 10px;
}

.notification .title-icon {
	margin-right: 4px;
}

.service-button, .big-quick-button {
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

.notification > :first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.notification > :last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.notification.high-urgency {
	border: 2px solid #CE5C00;
}

.relevancy-label {
	color: #aaa;
}

/*
	Scrollbar styling, adapted from the matcha gtk theme.
*/

scrollbar {
  /*background-color: #232323;*/
  transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

* {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
}

scrollbar button {
  border: none;
}

scrollbar.vertical button.down {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up {
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scrollbar.horizontal button.down {
  -gtk-icon-source: -gtk-icontheme("pan-right-symbolic");
}

scrollbar.horizontal button.up {
  -gtk-icon-source: -gtk-icontheme("pan-left-symbolic");
}

scrollbar slider {
  min-width: 6px;
  min-height: 6px;
  margin: -1px;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #666161;
}

scrollbar slider:hover {
  background-color: #555151;
}

scrollbar slider:hover:active {
  background-color: #B55900;
}

scrollbar slider:disabled {
  background-color: transparent;
}

scrollbar.fine-tune slider {
  min-width: 4px;
  min-height: 4px;
}

scrollbar.fine-tune.horizontal slider {
  border-width: 5px 4px;
}

scrollbar.fine-tune.vertical slider {
  border-width: 4px 5px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
  opacity: 0.4;
  border-color: transparent;
  background-color: transparent;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
  margin: 0;
  min-width: 4px;
  min-height: 4px;
  background-color: #989090;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider {
  margin: 0 2px;
  min-width: 40px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical slider {
  margin: 2px 0;
  min-height: 40px;
}

scrollbar.overlay-indicator.dragging, scrollbar.overlay-indicator.hovering {
  opacity: 0.99;
}

scrollbar.horizontal slider {
  min-width: 40px;
}

scrollbar.vertical slider {
  min-height: 40px;
}
